<h1>About</h1>
<p>

    Our PDF Helper app streamlines document handling by offering a summary function that 
    condenses user's PDF into concise overviews, saving them valuable time. 
    With this feature, users can 
    quickly grasp essential information without sifting through lengthy documents. 
    Additionally, the app enhances research capabilities by providing access to external resources
     based on keywords found within the PDF, 
     providing deeper understanding and exploration of related topics, kickstarting working on projects and related.


</p>
<p>You can see the source code <a href="https://github.com/ob-fsss-2024/frontend" target="_blank">here</a>.</p>
