.btn-outline-primary {
    color: #2d8e7e;
    border-color: #2d8e7e !important;    
}
  
  .btn-outline-primary:hover {
    color: white;
    background-color: #2d8e7e !important; 
    border-color: #2d8e7e !important;    
  }


  .btn-primary {
    color: white;
    background-color: #2d8e7e !important; 
    border-color: #2d8e7e !important;       
}
  
.btn-primary:hover {
    color: white;
    background-color: #226c60 !important; 
    border-color: #226c60 !important;    
  }

  input[type="radio"]:checked {
    background-color: #226c60 !important; 
    border: none;
}
  input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(34, 108, 96, 0.3); 
  }

  .aTags {
    color: gray; 
    transition: color 0.3s ease; 
    text-decoration: none; 
}

.aTags:hover {
    color: black;  
}
