    <div class="container mt-5">
        <h2>Upload PDF to obtain resources</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- Input for PDF file -->
            <div class="form-group">
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFile"
                    (change)="fileChange($event)">
                  </div>
            </div>
            <!-- Input for limit -->
            <div class="form-group">
                <label for="limit">Resource limit:</label>
                <input type="number" class="form-control" id="limit" name="limit"  [(ngModel)]="pdfdata.limit" placeholder="Resource limit per keyword">
            </div>
            <!-- Submit button -->
            <button type="submit" (click)="postPdf()" class="btn btn-primary mt-2 mb-2">Upload</button>
        </form>
        <div class="container">
            <div class="row">
              <ng-container *ngFor="let res of results; let i = index">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h3 class="card-title">{{res.title}}</h3>
                      <p class="card-text">{{res.text}}...</p>
                      <h5>Resources</h5>
                      <ul class="list-group list-group-flush">
                        <li *ngFor="let link of res.external_links; let j = index" [class.d-none]="!res.expanded && j >= 0" class="list-group-item">
                          <a href="{{link}}" class="card-link">{{link}}</a>
                        </li>
                      </ul>
                      <button class="btn btn-primary mt-3" (click)="toggleExpand(i)">
                        {{ res.expanded ? 'Show Less' : 'Show More' }}
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>          
    </div>